.image {
  max-width: 35%;
  /* height: 90vh; */
  /* border: 1px solid black; */
  border-radius: 20px 0px 0px 20px;
}
.rightDiv {
  margin: 7.5%;
  height: 63.5vh;
  width: 100%;
}

.box2-page1,
.box3-page1 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.687);
  border-radius: 5px;
}

.box1-page1 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h5 {
  color: grey;
}

.input {
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  width: 280px;
  border-radius: 5px;
  border: 0.5px solid gray;
}

.container-page1 {
  display: flex;
  gap: 255px;
  margin-bottom: 2px;
}
.laNameError {
  color: red;
  position: relative;
  left: 345px;
  bottom: 15px;
}
.FirstNameError {
  color: red;
  position: relative;
  top: 4px;
}

.inputs {
  display: flex;
  gap: 40px;
}

.input {
  cursor: pointer;
}
.EmailError {
  color: red;
  position: relative;
  left: 345px;
  top: -15px;
}
.addresslabel {
  margin-top: 20px;
  display: block;
  margin-bottom: 2px;
}
.addressinput {
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  width: 622px;

  border-radius: 5px;
  border: 0.5px solid gray;
  cursor: pointer;
}

button {
  padding: 12px 25px;
  float: right;
  font-size: 16px;
  background-color: #0c05fc;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
