.RightTopDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(112, 106, 106);
}

.box2-page1,
.box3-page1 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.687);
  border-radius: 5px;
}

.box1-page1 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.box1-page2 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: url("/public/icons8-tick-box.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.box2-page2 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box2-page3,
.box1-page3 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: url("/public/icons8-tick-box.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.box3-page3 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}