.image {
  max-width: 35%;
  /* height: 90vh; */
  /* border: 1px solid black; */
  border-radius: 20px 0px 0px 20px;
}
.rightDiv {
  margin: 7.5%;
  height: 63.5vh;
  width: 100%;
}

/* .box1-page3 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.687);
  border-radius: 5px;
} */

.box2-page3,
.box1-page3 {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: url("/public/icons8-tick-box.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.box3-page3 {
  background-color: blue;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h5 {
  color: grey;
}

.input {
  height: 30px;
  font-size: 20px;
  padding: 5px 10px;
  width: 280px;
  border-radius: 5px;
  border: 0.5px solid gray;
}

.container {
  display: flex;
  gap: 85px;
}
.container img {
  width: 275px;
  cursor: pointer;
  height: 90px;
  border-radius: 10px;
}

#one-page3,
#two-page3 {
  margin-left: 0px;
  margin-top: 20px;
  margin-left: 0px;
  cursor: pointer;
}

.radio-btn {
  margin-bottom: 30px;
}
.radio-btn label {
  padding-left: 5px;
  cursor: pointer;
}
.buttonDiv {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.next-btn {
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  background-color: #0c05fc;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.back-btn {
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  background: none;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.back-btn:hover {
  background-color: #0c05fc;
  color: white;
}

.check-input-on-image {
  display: flex;
  position: relative;
  bottom: 32px;
  height: 23px;
  width: 23px;
  left: 245px;
}